.cover{
    background: black;
}

.cover .image{
    opacity: 0.5;
}
.texty{
     height: 350px; 
    text-align: center;
}
.discover{
    width: 500px;
    margin-left: 25rem;
}
.ready{
    background-color:  #289BDE;;
}
.work{
  max-width: 600px;
  margin-left: -0.7rem;
}
.backexplore{
    background: #F4FAFD;
}

.fa-brands{
    margin: 1rem;
    color: #F4FAFD;
}


 
